.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif; /* Added for better font appearance */
  background-color: #f5f7fa; /* Light background for the entire app */
  color: #333;
  padding: 20px;
}
header > h1 {
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
}

.customer-details-container {
  width: 70%;
}

.customer-list {
  width: 100%;
  padding: 20px;
  border-right: 1px solid #ddd; 
  overflow-y: auto;
  height: 80vh;
  background-color: #fff;
}

.customer-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.customer-card:hover {
  background-color: #f5f5f5; 
  transform: scale(1.02);
}

.customer-card.selected {
  background-color: #e0e0e0;
  border-color: #485fc7;
}

.customer-details {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; 
  margin-top: 20px;
}

.photo-grid img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.customer-list .pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.customer-list .pagination button {
  padding: 10px 15px; 
  background-color: #485fc7;
  color: white;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.customer-list .pagination button:hover {
  background-color: #3c4fa3; 
}

.customer-list .pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
